/* Global variables */
:root {
	--primary-color: #335C67;
	--secondary-color: #F5F5F5;
	--acent-color1: #660019;
	--acent-color2: #f18455;
	--acent-color3: #FFF0AD;
	--acent-color4: #00523F;
}

/* Base Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Merriweather", system-ui;
  	font-weight: 700;
    margin: 0;
    padding: 0;
}

/* mobile **************************/
header {
	background-color: var(--primary-color);
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 1rem;
	margin-bottom: 0;
}

header img {
	border-radius: 6px;
}

header span {
	padding: 10px;
	text-align:center;
	font-size: 30px;
	color: var(--secondary-color);

}

header, main, footer {
    margin: 1rem auto;
    padding: 1rem;
}

nav {
	background-color: var(--acent-color4);
	margin: 0 auto;
}

#hamburgerBtn::before {
	content: "\2630";
}

#hamburgerBtn {
    font-size: 2rem;
    background: none;
    border: none;
	color: var(--secondary-color);
    cursor: pointer;
	width: 100%;
    text-align: left;
	padding: 0.25rem 2vw;
}

ul.menuList li a {
	display: block;
	padding: 0.75rem 2vw;
	color: var(--secondary-color);
	text-decoration: none;
}

ul.menuList {
	display: none;
	list-style-type: none;

}

#darkBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.25rem 2vw;
}

#lightBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.25rem 2vw;
}


/*CSS for the open class */

#hamburgerBtn.open::before {
	content: "\2225";
}

ul.menuList.open {
	display: block;
}

/*CSS for the dark class */
.dark {
	background-color: #1a1a1a;
    color: var(--secondary-color);
	box-shadow: 1px 1px 10px rgba(241, 132, 85, 0.7);
}

.dark h1 {
	border-bottom: 2px solid rgba(241, 132, 85, 0.3);
}

.dark a.active {
	background-color: rgba(102, 0, 25, 0.5);
}


nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 20px;
}

nav ul li a {
    padding: 1rem;
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a.active {
    background-color: rgba(102, 0, 25, 0.4);
	color: var(--acent-color3);
}

nav a:hover {
	background-color: rgba(241, 132, 85, 0.3);
	cursor: pointer;
}

main {
    padding: 1rem;
	margin: 5px;
}


main h1 {
	font-family: "Merriweather", system-ui;
	width: auto;
  	font-weight: 200;
	font-size: 17px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	text-align: left;
}


.card {
	grid-row: 2;
	border: 1px solid var(--acent-color4);
    background-color: #e9e9e9;
    border-radius: 10px;
	margin: 1rem 0;
	overflow: hidden;
}

.card h2 {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	display: block;
	text-align: center;
	padding: 0.75rem 0;
}

.card p {
	padding: 10px;
	color: var(--primary-color);
}

.card ul {
	list-style-type: none;
}

.card ul li a {
    display: inline-block;
    text-decoration: none; 
    color: var(--primary-color); 
    padding: 0.5rem 0;
	margin-left: 10px;
}

.card ul li a:hover {
    background-color: rgba(241, 132, 85, 0.3);
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #e9e9e9;
	color: var(--primary-color);
}

footer img {
    vertical-align: middle;
}

/* JavaScript to dynamically update year */
