/* Media Queries for larger screens */
@media screen and (min-width: 768px) {
    nav ul {
		display: flex;
    }

	nav ul li {
		flex: 1 1 100%;
	}

	main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 20px;
		grid-template-rows: 2fr;
	}

	main h1 {
		grid-row: 1;
		grid-column: 1 / 3;
		width: 100%;
		font-weight: 400;
		font-size: 30px;
		margin: 10px auto;
	}

	.card {
		box-shadow: 1px 1px 10px black;
	}

	footer {
		font-size:large;
	}



}
